:root {
    --nav-height: 10vh;
}
.adminpage-div {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: var(--nav-height) max-content;
}

.adminpage-div-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.adminpage-div-2 {
    grid-column: 1;
    grid-row: 2;
}

.adminpage-div-3 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
}

.jobs-div {
    margin: 6em auto;
    width: 40%;
    padding: 4em 2em 2em 2em;
    box-shadow: 0px 10px 5px #490307;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.jobs-div h1,
.jobs-div h2,
.jobs-div p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: center;
}

.adminpage-div-1 .Addform-btn {
    font-size: 1.5rem;
    width: max-content;
    position: relative;
    background-color: lightblue;
    color: #fff;
    padding: 2px 26px 2px 5px;
    border: 1px blue solid;
    border-radius: 5px;
}

.icon {
    width: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.admin-update-btn {
    background: transparent;
    display: inline-block;
    text-align: center;
    color: #af2830;
    border: 1px solid #af2830;
    width: 100%;
    padding: 0.8em 1.5em;
    margin: 2em 0 0 0;
    font-size: 1.125rem;
    border-radius: 5px;
    cursor: pointer;
}

.adminpage-div-2 button {
    width: 100%;
    text-align: center;
    margin: 6px 5px 6px 5px;
    padding: 10px 10px;
    border: 0;
    border-bottom: 0.5px solid grey;
    background: transparent;
    border-radius: 10px 0 0 10px;
}
.adminpage-div-2 button:hover {
    background-color: lightblue;
}
.adminpage-div-2 button.active-list {
    background-color: lightblue;
}
