.applied-user-info {
    margin: 140px 0px 20px 0px;
    padding: 60px 0px 95px 15px;
    height: 100%;
    margin-left: 3%;
    background-image: url('../images/orange_blo.svg');
    background-position: left;
    background-size: 65%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 500px;
}
.applied-user-info-upper {
    display: flex;
    align-items: center;
}
.applied-user-info-upper img {
    width: 15%;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.applied-user-info-upper .greeting {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #212121;
    line-height: 30px;
    margin-left: 5px;
}

.applied-user-info hr {
    height: 5px;
    border-width: 0;
    color: #ffa45c;
    background-color: #ffa45c;
    width: 60%;
    margin-top: 10px;
    margin-left: 5px;
}

.your-application-line {
    padding: 50px 0px 100px 20px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    background-image: url('../images/orange_blo.svg');
    background-position: left;
    background-size: 80%;
    background-repeat: no-repeat;
}

.your-application-line h3 {
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    word-break: break-word;
    font-weight: 600;
    font-size: 2.5rem;
    color: #212121;
}

.your-application-line p {
    margin-top: 10px;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #545454;
    line-height: 15px;
    margin-left: 10px;
}

.your-application-line hr {
    height: 7px;
    border-width: 0;
    color: #ffa45c;
    background-color: #ffa45c;
    width: 60%;
    margin-top: 10px;
    margin-left: 5px;
}

.applied-list {
    margin-top: 30px;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 80px;
}

@media all and (max-width: 1000px) {
    .applied-user-info .greeting {
        font-size: 25px;
        line-height: 25px;
    }
    .applied-user-info .number {
        font-size: 12px;
        line-height: 12px;
    }
}

@media all and (max-width: 800px) {
    .line-comapany {
        font-size: 25px;
    }
    .line-comapany:before,
    .line-comapany:after {
        border-bottom: 4px #ffa45c solid;
    }
    .applied-user-info .greeting {
        font-size: 22px;
        line-height: 22px;
    }
    .applied-user-info .number {
        font-size: 10px;
        line-height: 10px;
    }
}

@media all and (max-width: 600px) {
    .line-comapany {
        font-size: 20px;
        letter-spacing: 0.05px;
    }
    .applied-user-info img {
        margin-right: 10px;
    }
}
