.applied-user-info {
    padding: 110px 20px 20px 0px;
    margin-left: 3%;
    display: flex;
    align-items: center;
}
.applied-user-info img {
    width: 5%;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.applied-user-info .greeting {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #212121;
    line-height: 30px;
}
.applied-user-info .number {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #545454;
    line-height: 15px;
}

.line-comapany {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    word-break: break-word;
    font-weight: 600;
    font-size: 2rem;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 15%;
    margin-right: 15%;
}
.line-comapany:before,
.line-comapany:after {
    content: ' ';
    flex: 1 1;
    border-bottom: 7px #ffa45c solid;
    margin: auto;
}
.line-comapany:before {
    margin-right: 10px;
}
.line-comapany:after {
    margin-left: 10px;
}

.applied-list {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
}

@media all and (max-width: 1000px) {
    .applied-user-info .greeting {
        font-size: 25px;
        line-height: 25px;
    }
    .applied-user-info .number {
        font-size: 12px;
        line-height: 12px;
    }
}

@media all and (max-width: 800px) {
    .line-comapany {
        font-size: 25px;
    }
    .line-comapany:before,
    .line-comapany:after {
        border-bottom: 4px #ffa45c solid;
    }
    .applied-user-info .greeting {
        font-size: 22px;
        line-height: 22px;
    }
    .applied-user-info .number {
        font-size: 10px;
        line-height: 10px;
    }
}

@media all and (max-width: 600px) {
    .line-comapany {
        font-size: 20px;
        letter-spacing: 0.05px;
    }
    .applied-user-info img {
        margin-right: 10px;
    }
}
