.compStatus-flex {
    margin-top: 110px;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
    margin-bottom: 3%;
}

.compstatus-c1 {
    width: 30%;
}
.compstatus-user {
    margin-bottom: 20px;
}
.compstatus-user img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.compstatus-user p {
    margin-top: 3px;
    text-align: center;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #212121;
    line-height: 30px;
}

.compstatus-c2 {
    width: 65%;
    padding: 2%;
    border: 2px #808080 solid;
    border-radius: 8px;
    padding-bottom: 30px;
}

.compstatus-tracktext {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: #6e6d76;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 2%;
}

.roundtstatus-portion {
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content auto;
    grid-auto-rows: 80px;
    gap: 30px 20px;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}
.roundtstatus-portion .icon {
    height: 100%;
    display: flex;
}

.roundtstatus-portion .icon::before {
    content: ' ';
    border-left: 2px dashed #515151;
    height: calc(100% + 15px);
    position: absolute;
    left: 50%;
    top: calc(50% + 15px - 8px);
    transform: translate(-50%, 0%);
}
.icon i {
    margin: auto 0;
}
.icon:nth-last-child(-n + 3)::before {
    border: none;
}
@media all and (max-width: 1000px) {
    .compStatus-flex {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .compstatus-c1 {
        width: 85%;
    }
    .compstatus-c2 {
        width: 85%;
    }
}

@media all and (max-width: 800px) {
    .roundtstatus-portion {
        grid-auto-rows: 120px;
    }
}
@media all and (max-width: 650px) {
    .roundtstatus-portion {
        grid-auto-rows: 80px;
    }
}
