.compStatus-flex {
    margin-top: 1%;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
    margin-bottom: 3%;
}

.compstatus-c1 {
    width: 30%;
}
.compstatus-user {
    margin-bottom: 2%;
}
.compstatus-user img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.compstatus-user p {
    margin-top: 3px;
    text-align: center;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #212121;
    line-height: 30px;
}

.compstatus-c2 {
    width: 65%;
    padding: 2%;
    border: 2px #808080 solid;
    border-radius: 8px;
    padding-bottom: 0;
}

.compstatus-tracktext {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: #6e6d76;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 2%;
}

.roundtstatus-portion {
    margin-top: 3%;
}
