.h-hand img {
    height: 50%;
    width: 50%;
    float: left;
}

.h-hand p {
    font-size: 40px;
    padding-top: 120px;
    text-align: center;
    color: black;
}

.h-hand h1 {
    font-size: 40px;
    display: inline-block;
}

@media (max-width: 986px) {
    /* This resizes the divs that contain your content to fill the width of the page so that they stack vertically */
    .h-hand img {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
    }

    .h-hand p {
        font-size: 30px;
        padding-top: 10px;
        text-align: center;
    }

    .h-hand h1 {
        font-size: 30px;
        display: inline-block;
    }

    .handd {
        margin-bottom: 30px;
    }
}
