@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.compCard {
    background-color: white;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 1fr;
    width: 90%;
    margin: 3% 10% 3% 5%;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    box-shadow: 1px 1px 30px 1px #bdbaba;
}

.comp-side-1 {
    /*background-color: #619cb8;*/
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
    padding: 13px;
}

.comp-nameImage {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.comp-cl-icon {
    display: grid;
    grid-template-columns: 1fr auto 100fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    margin-bottom: 1%;
}
.comp-cl-icon img {
    grid-column: 2;
    grid-row: 1/4;
    max-width: 75px;
    max-height: 75px;
    z-index: 3;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 4%;
}
.comp-cl-icon hr {
    grid-column: 1/4;
    grid-row: 2;
    margin-top: 4%;
    border: 0;
    height: 0;
    border-top: 1px solid black;
}
.comp-cl-icon hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.comp-cl-icon hr.style-seven:before {
    /* Not really supposed to work, but does */
    display: block;
    content: '';
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.comp-cl-icon .comp-name {
    grid-column: 3;
    grid-row: 1/4;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 20px;
    font-size: 25px;
    z-index: 3;
}

.comp-comp-desc {
    margin-top: 28px;
    font-size: 15px;
    text-align: left;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

.comp-side-2 {
    padding: 2%;
    /*padding-left: 0%;*/
    /*margin-left: 10px;*/
}

.comp-role {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.comp-roledesc {
    margin-top: 1%;
    font-size: 14px;
    text-align: left;
    color: #4d4d50;
}

.compCard-tagall {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.compCard-tag {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(132, 176, 252, 0.3);
    font-size: 12px;
    margin-right: 15px;
}

.comp-apply {
    height: 35px;
    width: 140px;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    outline: 0;
    border: none;
    border-radius: 4px;
    background: #3770d4;
    transition: 0.1s ease-in-out;
}

.comp-apply:hover {
    background: rgb(38, 96, 221, 0.9);
}

.comp-info {
    background: #5e6767;
    margin: 10px;
}

.comp-handles {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
}
.comp-social-icons {
    list-style: none;
}

.comp-social-icons li {
    display: inline-block;
    margin-bottom: 15px;
    padding: 7px;
    padding-left: 0px;
    padding-right: 14px;
}
.comp-social-icons li.title {
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.comp-social-icons a {
    font-size: 16px;
    background-color: white;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid;
    border-color: grey;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.comp-social-icons a.comp-facebook {
    color: #3b5998;
}
.comp-social-icons a.comp-twitter {
    color: #00aced;
}
.comp-social-icons a.comp-linkedin {
    color: #007bb6;
}
.comp-social-icons a.comp-instagram {
    color: #e95950;
}

.comp-social-icons a:active,
.comp-social-icons a:focus,
.comp-social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.comp-social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.comp-social-icons a.comp-facebook:hover {
    background-color: #3b5998;
}
.comp-social-icons a.comp-twitter:hover {
    background-color: #00aced;
}
.comp-social-icons a.comp-linkedin:hover {
    background-color: #007bb6;
}
.comp-social-icons a.comp-instagram:hover {
    background-color: #e95950;
}

.upbut {
    transform-style: flat;
    transition: all 250ms ease-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1);
}

.upbut::before,
.upbut::after {
    content: '';
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
}

.upbut::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upbut:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.tag-icon {
    width: 18px;
    color: #353434;
    margin-right: 2px;
}

@media all and (max-width: 768px) {
    .compCard {
        width: 90%;
    }
    .compCard-tag {
        padding: 6px 7px;
        font-size: 10px;
        margin-right: 8px;
    }

    .comp-roledesc {
        font-size: 12px;
    }
    .comp-apply {
        height: 30px;
    }
}

@media all and (max-width: 500px) {
    .comp-side-2 {
        padding: 4%;
    }

    .comp-cl-icon {
        display: block;
    }
    .comp-cl-icon img {
        display: block;
        background-color: white;
        border: 0px solid black;
        border-radius: 0px;
        padding: 0%;
    }
    .comp-cl-icon hr {
        display: none;
    }

    .comp-cl-icon .comp-name {
        display: block;
        margin-top: 0%;
        margin-bottom: 1%;
        margin-left: 0px;
        font-size: 25px;
    }
}
