.landing1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    text-align: right;
    height: 50px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.landing1 img {
    height: 30px;
}
/* .landing1-form {
    height: 100%;
} 
.input_mail {
    border-radius: 5em;
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #343d48;
    padding: 5px 15px;
    border-color: #dadada;
    border-style: solid;
    border-width: 2px;
    border-color: #fde0c8;
    background-color: #fcf0eb;
    width: 60%;
    height: 100%;
}
.input_mail:focus {
    outline: none;
}
.subscribe_button {
    border: 0;
    outline: 0;
    border-radius: 5em;
    background-color: #ffa45c;
    color: aliceblue;
    box-sizing: border-box;
    width: 10em;
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 3px 10px 42px 1px rgba(255, 164, 92, 0.37);
    -webkit-box-shadow: 3px 10px 42px 1px rgba(255, 164, 92, 0.37);
    -moz-box-shadow: 3px 10px 42px 1px rgba(255, 164, 92, 0.37);
}

.subscribe_button:disabled {
    cursor: not-allowed;
} */

.landing1-text {
    font-size: 25px;
    color: #071e3d;
    line-height: 30px;
    font-weight: 800;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* height: 100%; */
}
.landing1-signIn {
    /* height: 100%; */
    color: #ffa45c;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}
.landing1-signIn:hover {
    text-shadow: 10px 6px 50px rgba(255, 164, 92, 1);
}
@media all and (max-width: 800px) {
    /* .landing1-form {
        display: none;
    } */
    .landing1 {
        display: flex;
        justify-content: space-between;
    }
}

@media all and (max-width: 600px) {
    /* .landing1-form {
        display: none;
    } */
    .landing1 img {
        height: 25px;
    }
    .landing1-text {
        font-size: 22px;
    }
}

@media all and (max-width: 500px) {
    .landing1 {
        margin-top: 7px;
        margin-bottom: 50px;
    }
    .landing1 img {
        height: 16px;
    }
    .landing1-text {
        font-size: 14px;
        padding: 2px;
    }

    .landing1-text a {
        font-size: 16px;
        padding: 2px;
        /* border: 1px solid;
        border-radius: 5px; */
    }
}
