@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700|Lato:400,700);
.landing2 {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    column-gap: 50px;
    justify-content: space-around;
    align-items: stretch;
}
.landing2-1 {
    color: #343d48cc;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: left;
    width: 100%;
    /* max-width: 700px; */
}
.landing2-1 h1 {
    color: #071e3d;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: normal;
}

.landing2-1 div {
    display: block;
}
.landing2-1 p {
    margin-top: 4%;
    width: 100%;
    max-width: 500px;
}

.landing2-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    /* max-width: 500px; */
}

.landing2-2 h1 {
    color: #3f3b3b;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    word-break: break-word;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.4em;
    font-weight: 700;
}

.landing2-2 h6 {
    color: #3f3b3b;
    font-size: 1rem;
    font-weight: 500;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
    margin-bottom: 35px;
    margin-top: 0;
}

.landing2-2 img {
    width: 100%;
    /* max-width: 500px; */
    height: auto;
}
.logo_collage div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

@media all and (max-width: 1200px) {
    .landing2-1 {
        max-width: 100%;
    }
    .landing2-1 p {
        max-width: 100%;
    }
}

@media all and (max-width: 990px) {
    .landing2 {
        flex-wrap: wrap;
    }
    .landing2-1 {
        line-height: 1.15;
        text-align: center;
        margin-bottom: 3%;
    }
    .landing2-2 h6 {
        margin-bottom: 3%;
    }
    .landing2-2 h6 {
        margin: 30px 0;
    }
    .landing2-2 img {
        width: 70%;
        margin: 0 auto;
    }
}

@media all and (max-width: 800px) {
    .landing2 {
        flex-wrap: wrap;
    }
    .landing2-1 h1 {
        font-size: 1.7em;
    }
    .landing2-1 p {
        font-size: 1em;
    }
    .landing2-2 h1 {
        font-size: 2rem;
    }
    .landing2-2 h6 {
        font-size: 1rem;
        margin: 40px 0;
    }
    .landing2-1 div {
        display: inline-block;
    }
}
@media all and (max-width: 500px) {
    .landing2-1 {
        font-size: 16px;
    }
    .landing2-1 h1 {
        font-size: 24px;
    }

    .landing2-2 h1 {
        font-size: 22px;
    }
    .landing2-2 h6 {
        font-size: 13px;
        margin: 20px 0;
    }
}
