.l4-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 12%;
}
.l4-subs {
    width: 35%;
    text-align: center;
}
.l4-subs h6 {
    font-size: 15px;
    font-weight: 500;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
}

.l4-subs h1 {
    font-size: 2rem;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    word-break: break-word;
}
.l4-subs input[type='email'] {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    color: #000;
    font-family: Montserrat, 'Times New Roman', Times, serif;
    background-color: #fff;
    border: 2px solid #ffa45c;
    border-radius: 15px;
}

.l4-input {
    position: relative;
    margin: 4%;
}
.l4-input-hover {
    width: 100%;
    transition: 0.4s;
}

.l4-input-hover:focus {
    border: 0px !important;
    outline: none;
}

.l4-input-hover ~ .l4-input-border:before,
.l4-input-hover ~ .l4-input-border:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffa45c;
    transition: 0.3s;
}
.l4-input-hover ~ .l4-input-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}
.l4-input-hover ~ .l4-input-border i:before,
.l4-input-hover ~ .l4-input-border i:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #ffa45c;
    transition: 0.4s;
}
.l4-input-hover ~ .l4-input-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}
.l4-input-hover:focus ~ .l4-input-border:before,
.l4-input-hover:focus ~ .l4-input-border:after {
    width: 100%;
    transition: 0.3s;
}
.l4-input-hover:focus ~ .l4-input-border i:before,
.l4-input-hover:focus ~ .l4-input-border i:after {
    height: 100%;
    transition: 0.4s;
}

.l4-but {
    margin: 4%;
    width: 50%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    background: #ffa45c;
    border: none;
    z-index: 1;
}
.l4-contact {
    background-color: rgb(245, 245, 245);
    padding-top: 2%;
    padding-bottom: 2%;
    width: 35%;
    border-radius: 20px;
}
.l4-contact h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    word-break: break-word;
    margin-bottom: 1%;
}

.l4-contact-text {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, sans-serif;
    margin-bottom: 2%;
}
.l4-handle {
    margin-left: 10%;

    margin-right: 10%;
}

.l4-handle-item {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(219, 217, 217);
    border-radius: 10px;
    color: black;
}

.l4-handle-item i {
    font-size: 35px;
    margin-right: 4%;
    display: inline-block;
}

.l4-handle-item div {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: Roboto, serif;
    display: inline-block;
}
