.l3-grid {
    display: flex;
    flex-flow: column wrap;
    gap: 5%;
}
.l3-r1 {
    display: block;
    text-align: center;

    width: 30%;
    margin: 5%;

    margin-left: auto;
    margin-right: auto;
}
.l3-r2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
}

.l3-f1 {
    width: 30%;
}
.l3-f2 {
    width: 30%;
}
