@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/*:root {
    --image-width: 50vw;
    --card-width: 50vw;
}

.logo_container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 600px 200px;
}

.Login {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--image-width) var(--card-width);
    align-content: center;
}
.loginImg {
    width: var(--image-width);
}
.loginCard {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width: 450px;
    padding-bottom: 70px;
    margin: 0 auto;
    background: linear-gradient(#141e30, #243b55);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.loginCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    width: 450px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    background: linear-gradient(#141e30, #243b55);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-2:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.input {
    height: 35px;
    width: 300px;
    border: rgb(39, 185, 204);
    outline: none;
    border-radius: 4px;
    transition: all 0.5s;
    color: black;
    font-size: 15px;
}
.input:focus,
.input:active {
    box-shadow: 1px 1px 18px #3399ff;
}
::placeholder {
    opacity: 0.5;
}

.companyName {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    padding: 20px;
    color: white;
}
.lgn-eye > .eye-img {
    cursor: pointer;
    width: 25px;
    fill: #000;
}
.passContainer {
    position: relative;
}
.para {
    font-size: 20px;
    color: white;
}
.para a {
    color: lightblue;
    text-decoration: none;
}
a {
    text-decoration: none;
}

.lgn-passwd-container {
    width: max-content;
    height: max-content;
    margin: 40px auto 20px;
    position: relative;
}
.lgn-form {
    margin-top: 60px;
}

@media (max-width: 1000px) {
    .loginImg {
        display: none;
    }
    .loginCard {
        margin-top: 30px;
    }
    .Login {
        display: block;
        background: url('/src/img/login.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 700px) {
    .Login {
        background-image: none;
        background: transparent;
    }
    .logo_container {
        background-image: linear-gradient(#141e30, #243b55);
    }
    .loginCard {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    }
    .card-2 {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    }
}
@media (max-width: 500px) {
    .loginCard {
        width: 300px;
    }
    .input {
        width: 200px;
    }
    .companyName {
        font-size: 50px;
    }
    .card-2 {
        width: 300px;
    }
}*/

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.image-section {
    position: relative;
    width: 50%;
    height: 100%;
}

.image-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 50%;
}

.form-box-company-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 40px;
    letter-spacing: 1px;
    color: #4957d4;
}

.form-box-company-name span {
    font-weight: 800;
}

.form-box-heading {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #607d8b;
    margin-bottom: 20px;
    border-bottom: 4px solid #7784f7;
    display: inline-block;
    letter-spacing: 1px;
}

.form-box-field {
    margin-bottom: 20px;
}

.form-box .form-box-field label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #373738;
    font-weight: 600;
}

.form-box-field input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 14px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.form-box-field input[type='submit'] {
    color: #fff;
    background: #7784f7;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
}

.form-box-field input[type='submit']:hover {
    background: #6776f7;
}

.form-box-field p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000;
}

.form-box-field p a {
    color: #7784f7;
}

a {
    text-decoration: none;
}

.lgn-eye > .eye-img {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    fill: #576d79;
}

.form-box-password-field {
    position: relative;
}

@media (max-width: 768px) {
    .image-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .form-section {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    .form-box {
        width: 100%;
        padding: 30px 30px;
        background: rgba(255, 255, 255, 0.8);
        margin: 30px;
    }
    .form-box-field p {
        font-size: 12px;
    }
    .image-section img {
        object-fit: cover;
    }
}
