.nav {
    text-align: center;
    background: transparent;
    color: white;
    font-size: 30px;
    height: 70%;
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
}

.header {
    text-align: left;
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 100%;
    display: flex;
    background: black;
    position: fixed;
    justify-content: space-between;
    z-index: 2;
}
.nav-button button {
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-align: center;
    max-width: max-content;
    border: solid 2px #fff;
    background: transparent;
    color: #fff;
    z-index: 2;
}
.nav-button button:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #1f1f1f;
}

.main-page {
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 100vh max-content max-content max-content max-content 100px;
}

.four-cards {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: #f7f7f7;*/
    /*background-color: black;*/
    background: #1c1d21;
    padding-top: 20px;
    padding-bottom: 70px;
    background: #1c1d21;
}
.para-team {
    text-align: center;
    background: #1c1d21;
}
#team {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
@media all and (max-width: 986px) {
    .main-page {
        grid-template-rows: 320px max-content max-content max-content max-content 100px;
    }
}
