@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.nav {
    background: transparent;
    height: 70%;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

.nav-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 100%;
    display: flex;
    background: black;
    position: fixed;
    justify-content: space-between;
    z-index: 2;
}
.nav-button button {
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-align: center;
    border: solid 2px #fff;
    background: transparent;
    color: #fff;
    z-index: 2;
}
.nav-button button:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #1f1f1f;
}
.nav-mid-img {
    display: visible;
}

.nav-mid-img img {
    cursor: pointer;
    width: 17vw;
    min-width: 200px;
    height: 10vh;
    min-height: 50px;
    max-height: 70px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.main-page {
    width: 100vw;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 100vh max-content max-content max-content max-content 100px;
}

.team-section {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.team-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.team-section-heading {
    color: #464646;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.team-section-about-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.team-section-about {
    color: #606060;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

@media all and (max-width: 986px) {
    .main-page {
        grid-template-rows: 320px max-content max-content max-content max-content 100px;
    }
}

@media all and (max-width: 670px) {
    .nav-mid-img {
        display: none;
    }
    .nav-button {
        padding-left: 0;
        padding-right: 0;

        justify-content: space-around;
    }
}
