.compCard {
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5fr 7fr 2fr;
    margin-left: 8%;
    margin-right: 5%;
    border-radius: 5px;
}

.comp-side-1 {
    background-color: #3eccff;
    padding: 20px;
    border-radius: 5px 0 0 5px;
}

.comp-cl-icon {
}

.comp-icon {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.comp-compname {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.comp-comp-desc {
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
}

.comp-side-2 {
    padding: 8%;
}

.comp-role {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}

.comp-roledesc {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
}

.compCard-tagall {
    margin-top: 10px;
}

.compCard-tag {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #b9fbb9;
    font-size: 12px;
    margin-right: 20px;
}

.comp-apply {
    height: 45px;
    width: 140px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    outline: 0;
    border: none;
    border-radius: 4px;
    background: #7784f7;
}

.comp-info {
    background: #5e6767;
    margin: 10px;
}

.comp-handles {
    display: block;
    margin: auto;
}
.comp-social-icons {
    list-style: none;
}

.comp-social-icons li {
    display: block;
    margin-bottom: 15px;
    padding: 7px;
}
.comp-social-icons li.title {
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.comp-social-icons a {
    font-size: 16px;
    background-color: white;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid;
    border-color: grey;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.comp-social-icons a.comp-facebook {
    color: #3b5998;
}
.comp-social-icons a.comp-twitter {
    color: #00aced;
}
.comp-social-icons a.comp-linkedin {
    color: #007bb6;
}
.comp-social-icons a.comp-instagram {
    color: #e95950;
}

.comp-social-icons a:active,
.comp-social-icons a:focus,
.comp-social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.comp-social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.comp-social-icons a.comp-facebook:hover {
    background-color: #3b5998;
}
.comp-social-icons a.comp-twitter:hover {
    background-color: #00aced;
}
.comp-social-icons a.comp-linkedin:hover {
    background-color: #007bb6;
}
.comp-social-icons a.comp-instagram:hover {
    background-color: #e95950;
}

.upbut {
    transform-style: flat;
    transition: all 250ms ease-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1);
}

.upbut::before,
.upbut::after {
    content: '';
    position: absolute;
    z-index: -2;
    transition: all 250ms ease-out;
}

.upbut::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upbut:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
@media all and (max-width: 960px) {
    .compCard {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media all and (max-width: 800px) {
    .compCard {
        grid-auto-flow: row;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
    }
    .comp-side-1 {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2fr 3fr;
        padding: 0px;
        border-radius: 5px 5px 0px 0px;
    }
    .comp-nameImage {
        margin-left: 10%;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .comp-icon {
        width: 50%;
        height: 50%;
        max-width: 75px;
        max-height: 75px;
    }
    .comp-role {
        font-size: 30px;
    }

    .comp-comp-desc {
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 2%;
    }
    .comp-side-2 {
        padding-bottom: 4%;
    }
    .comp-role {
        margin-top: 0px;
    }
    .comp-handles {
        display: inline-block;
        margin-left: 8%;
    }
    .comp-social-icons li {
        display: inline-block;
        padding-left: 0px;
        padding-right: 14px;
    }
}

@media all and (max-width: 400px) {
    .comp-role {
        font-size: 25px;
    }

    .comp-comp-desc {
        font-size: 20px;
    }
    .comp-compname {
        font-size: 25px;
    }
}
