/* .roundstatus-flex {
    margin-bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px #808080 solid;
    border-radius: 10px;
    padding: 2%;
}
 */
