.side-menu {
    background: #fff;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    height: 90vh;
    width: 15vw;
    min-width: 200px;
    opacity: 1;
    position: fixed;
    top: 10vh;
    padding: 10px 0 10px 0px;
    font-size: 18px;
}
.side-menu .text {
    font-size: 25px;
    padding-left: 10px;
    color: #000;
    opacity: 0.53;
}
.side-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-ele {
    padding: 2% 0;
    padding-left: 10px;
}
.active-link .list-ele {
    background-color: #7784f7;
}
.active-link .side-icon,
.active-link .text {
    color: #fff;
    opacity: 1;
}
.side-icon {
    color: #000;
    opacity: 0.53;
}
