.side-menu {
    background: white;
    height: 90vh;
    width: 17vw;
    min-width: 200px;
    opacity: 1;
    position: sticky;
    top: min(10vh, 70px);
    padding: 0px 0 10px 0px;
    border-right: 1px solid #edfbff;
}
.side-menu .text {
    font-size: 25px;
    padding-left: 20px;
    color: black;
    opacity: 0.8;
}
.side-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-ele {
    padding: 10px 0px 12px 10px;
    border-radius: 0;
}
.list-ele:hover {
    background-color: #3498db;

    /*border-radius: 20px 0 0 20px;*/
    transition: background-color border-radius 2s ease-out;
}
.list-ele:hover .text,
.list-ele:hover .side-icon {
    color: #fff;
    opacity: 1;
    transition: color opacity 2s ease-out;
}
.active-link .list-ele {
    background-color: #3498db;

    /* border-radius: 20px 0 0 20px;*/
}
.active-link .side-icon,
.active-link .text {
    color: #fff;
    opacity: 1;
}
.side-icon {
    color: black;
    opacity: 0.8;
}
@media all and (max-width: 960px) {
    .side-menu {
        display: none;
    }
}
