/*:root {
    --image-height: 88vh;
    --fields-height: 30px;
}
.sgn-formContainer {
    margin: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--image-height);
}

.sgn-image img {
    width: 100%;
    height: var(--image-height);
    min-height: 500px;
}

.sgn-form {
    margin: auto;
    width: 100%;
    text-align: center;
}

.sgn-box {
    border: 1px solid black;
    text-align: left;
    padding: 50px;
    width: max-content;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: grey 5px 10px;
    background: linear-gradient(#141e30, #243b55);
    background-color: rgba(0, 0, 0, 0.5);
}

.sgn-text-box {
    color: white;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
.sgn-text-box,
select {
    width: 250px;
    height: var(--fields-height);
    margin: 5px 0;
    color: whitesmoke;
}
select {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
option {
    background-color: #141e30;
    font-size: 14px;
    opacity: 0.5;
    font-family: 'Courier New', Courier, monospace;
}

.sgn-text-box,
#currYear {
    border: none;
    outline: 0;
    border-bottom: 1px solid whitesmoke;
    transition-duration: 2100ms;
    background: transparent;
}

.sgn-text-box:focus {
    outline: none;
    caret-color: rgb(230, 174, 70);
    border-color: green;
}
.sgn-text-box::-webkit-autofill {
    border-radius: 20px;
}
label:not(.sgn-eye, .lgn-eye) {
    display: none;
}

.passwd-container {
    position: relative;
}
.eye-img {
    position: absolute;
    top: 0%;
    right: 0%;
}
.sgn-text-box::placeholder {
    color: whitesmoke;
    font-size: 14px;
    opacity: 0.5;
    font-family: 'Courier New', Courier, monospace;
}
.btn-std {
    min-width: max-content;
}
.sgn-main_container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 650px 200px;
}
h1,
p {
    padding: 10px;
}

@media (max-width: 982px) {
    .sgn-formContainer {
        display: block;
        background-image: url('../img/login.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sgn-image {
        display: none;
    }
}

@media (max-width: 600px) {
    .sgn-main_container {
        background-image: linear-gradient(#141e30, #243b55);
    }
    .sgn-formContainer {
        background-image: none;
        background: transparent;
    }
    .sgn-form h1,
    p {
        color: whitesmoke;
    }
    .sgn-box {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 550px) {
    .sgn-form > h1 {
        font-size: 22px;
    }
    .sgn-form,
    .btn-std {
        font-size: 12px;
    }
    .sgn-text-box {
        height: 35px;
        width: 270px;
    }
}

@media (min-height: 700px) {
    .sgn-main_container {
        grid-template-rows: 88vh 7vh;
        grid-row-gap: 5vh;
    }
}

@media (min-width: 1500px) {
    .sgn-formContainer {
        grid-template-columns: 40% 60%;
    }
    .sgn-text-box,
    select {
        width: 25vw;
        font-size: 30px;
        height: 50px;
    }
    .sgn-form > h1 {
        font-size: 60px;
    }
    .sgn-form > p {
        font-size: 30px;
    }
}
@media (max-width: 400px) {
    .sgn-text-box,
    select {
        width: 175px;
        height: 33px;
    }
}*/

.signup_section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.image_section {
    position: relative;
    width: 50%;
    height: 100%;
}

.image_section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form_box {
    margin-top: 20px;
    width: 60%;
}

.form_box_company_name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 40px;
    letter-spacing: 1px;
    color: #4957d4;
}

.form_box_company_name span {
    font-weight: 800;
}

.form_box_heading {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #607d8b;
    margin-bottom: 20px;
    border-bottom: 4px solid #7784f7;
    display: inline-block;
    letter-spacing: 1px;
}

.form_box_field {
    margin-bottom: 10px;
}

.form_box .form_box_field label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #373738;
    font-weight: 600;
}

.right_margin {
    margin-right: 10px;
}

.form_box_field input,
.form_box_field_select {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 14px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.form_box_field input[type='submit'] {
    color: #fff;
    background: #7784f7;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
}

.form_box_field input[type='submit']:hover {
    background: #6776f7;
}

.form_box_field p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000;
}

.form_box_field p a {
    color: #7784f7;
}

a {
    text-decoration: none;
}

.lgn_eye {
    position: absolute;
    top: 4px;
    right: 15px;
    cursor: pointer;
    width: 20px;
}

.form_box_password_field {
    position: relative;
    margin-right: 5px;
}

.form_box_same_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .form_box_field input,
    label {
        font-size: 12px !important;
    }
    .form_box_company_name {
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .form_box_heading {
        font-size: 1em;
        margin-bottom: 10px;
    }
    .form_box_field p {
        font-size: 10px;
    }
    .form_box {
        width: 100%;
        padding: 0px 30px;
        background: rgba(255, 255, 255, 0.8);
        margin: 0px 25px;
    }
}
@media (max-width: 768px) {
    .image_section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .form_section {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
        justify-content: center;
        align-items: center;
    }
    .form_box {
        width: 100%;
        padding: 0px 30px;
        background: rgba(255, 255, 255, 0.8);
        margin: 30px;
    }
    .form_box_field p {
        font-size: 12px;
    }
    .image_section img {
        object-fit: cover;
    }
    .form_box_field input,
    select {
        font-size: 10px !important;
    }
    .lgn_eye {
        top: 1px;
        right: 5px;
    }
}
