.Tasks-container{
    --m:5px 0;
    --p-tb:5px;
    --p-lr:15px;
    --bor-rad:15px;
}

.Tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.Tasks-h1 {
    font-size: 40px;
    line-height: 80px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Tasks-list-container {
    width: 60%;
    padding: 40px 20px;
    border-radius: 10px;
    background: #ffe4ce;
}

.Task-complete {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Tasks-list {
    display: flex;
    align-items: stretch;
    gap: 15px;
    background:#ffffff;
    margin: var(--m);
    border-radius: var(--bor-rad);
    overflow:hidden;
}

.Tasks-list .left-bar{
    width: 8%;
    min-width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#00ff00;
    cursor: pointer;
}
.Tasks-list.disabled .left-bar{
    background-color: #cccccc;
    cursor: no-drop;
}

.Tasks-list i {
    color: #ffffff;
}

.Tasks-list .inner-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 0 var(--p-lr) 0 0;
}

.Tasks-list a {
    font-size: 18px;
    margin: 5px 0;
    padding: 5px 5px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.Task-Deadline{
    background:#ffa45c;
    font-size:10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 8px;
    border-radius: 5px;
    min-width: 120px;
}

.Task-Deadline .danger{
    color:#ff0000;
    font-weight: 900;
    font-size:12px
}

.Tasks-Editing {
    display: flex;
    gap:15px;
    align-items: baseline;
}

.Tasks-Editing input[type="radio"]{
    transform: scale(1.3);
}

.Tasks-Upper-Portion{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.Tasks-Upper-Portion button.deadline{
    align-self: flex-end;
}

.Tasks-Editing button{
    font-size:15px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 2px;
}

.Tasks-Editing input[type="text"]{
    width:80%;
    aspect-ratio: 20 / 1;
}