.Tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.Tasks-h1 {
    font-size: 40px;
    line-height: 80px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Tasks-list-container {
    width: 60%;
    padding: 40px 20px;
    border-radius: 10px;
    background: #ffe4ce;
}

.Task-complete {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Tasks-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Tasks-list a {
    width: 100%;
    font-size: 18px;
    margin: 5px 0;
    padding: 5px 5px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 1px dashed black;
}

.Tasks-list i {
    cursor: pointer;
}

.Tasks-list.disabled i {
    cursor: no-drop;
}

.Tasks-Editing {
    display: flex;
    gap:15px;
    align-items: baseline;
}

.Tasks-Editing input[type="radio"]{
    transform: scale(1.3);
}

.Tasks-Upper-Portion{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.Tasks-Upper-Portion button.deadline{
    align-self: flex-end;
}

.Tasks-Editing button{
    font-size:15px;
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 2px;
}

.Tasks-Editing input[type="text"]{
    width:80%;
    aspect-ratio: 20 / 1;
}