.userheader {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 25px 0px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 1px 35px -10px rgba(255, 164, 92);
}
.userheader-logo {
    height: 30px;
    margin-left: 3%;
}

.userheader-innerflex {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: flex-end;
    column-gap: 15px;
}

.userheader-innerflex img {
    width: 9%;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userheader-innerflex p {
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffa45c;
    line-height: 30px;
}

.userheader-innerflex button {
    padding: 10px 20px;
    border: 2px solid #071e3d;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: 600;
    margin-right: 3%;
    cursor: pointer;
    background: rgba(7, 30, 61, 0.01);
    color: #071e3d;
    border-radius: 10px;
    animation: fadeOut 0.2s ease-out forwards;
}
.userheader-innerflex button:hover {
    animation: fadeIn 0.2s ease-in 0.05s forwards;
}

@media all and (max-width: 600px) {
    .userheader-logo {
        height: 24px;
    }

    .userheader-innerflex {
        justify-content: flex-end;
        width: 80%;
        column-gap: 10px;
    }

    .userheader-innerflex button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .userheader-innerflex p {
        font-size: 24px;
    }

    .userheader-innerflex img {
        display: none;
    }
}

@media all and (max-width: 450px) {
    .userheader {
        padding: 20px 0;
    }

    .userheader-logo {
        height: 18px;
    }

    .userheader-innerflex p {
        font-size: 20px;
    }
    .userheader-innerflex {
        column-gap: 7px;
        padding: 0 3px;
    }

    .userheader-innerflex button {
        margin-right: 0;
    }
}

@keyframes fadeIn {
    from {
        background: rgba(7, 30, 61, 0.01);
        color: #000;
    }
    to {
        background-color: #515151;
        color: #fff;
    }
}
@keyframes fadeOut {
    from {
        background-color: #515151;
        color: #fff;
    }
    to {
        background: rgba(7, 30, 61, 0.01);
        color: #000;
    }
}
